.navbar {
    background-color: transparent;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0 3%;
    align-items: center;
    position: sticky;
    top: 0;
    width: -webkit-fill-available;
    z-index: 9999;
    transition: 1s ease-out;
}

@media (max-width: 899px) {
    .realEstate-header-content {
        margin: 0 10rem!important;
    }
    .realEstate-midD header section.realEstate-header_section {
        padding: 5rem 0 0 0;
    }
    .realEstate-midD.reset-this {
        background: #314862;
    }
    header.realEstate_header {
        background: #ffffff;
    }
    main.realEstate-about {
        background: #ffffff;
    }
}
@media (max-width: 500px) {
    .realEstate-header-content {
        margin: 0 4.5rem !important;
        max-width: 77.5% !important;
        height: 60vh !important;
    }
   
}
@media (max-width: 375px) {
    .navbar.homeNav .menu-bars svg {
            width: 1.5em;
            height: 1.5em;
    }
}
@media (max-width: 992px) {
    .MuiInputBase-root.MuiInput-root.MuiInput-underline {
        width: 100%;
    }
    textarea#messageField {
        font-size: 1.6rem;
    }
    .MuiFormControl-root.MuiTextField-root {
        width: 65%;
    }
    section#personal,
    section#business,
    section#message_part {
        padding: 2.5rem;
    }
}
@media (max-width: 700px) {
    .realEstate-midD header section.realEstate-header_section {
        padding: unset!important;
    }
    figure.logo>img {
        width: 12em;
    }
    img#logo {
        width: 19rem;
        height: unset!important

    }
    header.riskHeader__smallDesktop {
        border-top: .1px solid #673ab7;
    }
}
@media (max-width: 500px) {
    img#logo {
        width: 17rem;
    }
}
@media (max-width: 350px) {
    img#logo {
        width: 15rem;
    }
    .menu-bars img#hamburgerTemp {
        width: 3.2rem;
    }
}

@media (min-width: 900px) and (max-width: 1199px) {
    .realEstate.this_yes {
        background: #314862;
    }
    div#homeNavbar {
        background: transparent;
    }
    header.realEstate_header {
        background: #ffffff;
    }
    main#main-realtyContainer {
        background: #ffffff;
    }
    img.d-block.w-100 {
        width: 100% !important;
        height: 100vh;
        object-fit: fill;
        object-position: center;
    }
    .carousel-caption {
        display: none;
    }
    figure.logo img {
        height: 5.5rem;
    }
}

@media (min-width: 1200px) {
    .navbar {
        display: none;
    }
}

.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}
@media (max-width: 420px) {
    .menu-bars {
        font-size: 3rem;
    }
    /* figure.logo>img {
        width: 12em;
    } */
}
@media (max-width: 320px) {
   .realEstate-header-content__btn {
       right: calc(100% - 64rem/2) !important;
           bottom: 5rem !important;
   }
}


.nav-menu {
    background-color: #060b26;
    width: 40%;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    z-index: 99999;
}
.bar__bg {
    transition: 1s ease-in;
    /* background-color: #313962; */
    background-color: #313962e3!important;
        filter: drop-shadow(2px 4px 6px black);
}

@media (max-width: 599px) {
    .nav-menu {
        width: 50%;
    }
}
@media (max-width: 380px) {
    .nav-menu {
        width: 65%;
    }
}

.nav-menu.active {
     left: 0;
     transition: 350ms;
}

.nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 2.4rem;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1.6rem;
    border-radius: 4px;
}

.nav-text a .MuiSvgIcon-root {
    font-size: inherit!important;
}

.nav-text a:hover {
    background-color: #1a83ff;
}

.nav-menu-items {
    width: 100%;
}

.navbar-toggle {
    /* background-color: #060b26; */
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

ul.nav-menu-items span {
    margin-left: 16px;
}

body::-webkit-scrollbar {
    display: none;
}
html::-webkit-scrollbar {
    display: none;
}
@media (max-width: 899px) {
    .menu-bars img#hamburgerTemp {
        width: 3.5rem;
    }
}
div.realtyBSN #header-risk-btn-left:hover {
    color: #ffffff;
}
