header.farm-header {
  z-index: 99 !important;
}

section.Fheader_image {
  z-index: 9;
}

.product_listing--quote {
  max-width: 45%;
}

.makeStyles-contact-27:hover {
  background-color: #101010;
  cursor: pointer;
}

.product_listing--pd_item.--pd_item_1 .--pd_item-wrap {
  margin-bottom: 1.4rem;
}

.product_listing--pd_item.--pd_item_2 .--pd_item-wrap:not(:last-child) {
  margin-right: 1.2rem;
}

.product_listing--pd_item.--pd_item_3 .--pd_item-wrap {
  margin-bottom: 1.4rem;
}

.about-page {
  background-color: #f7f7f7;
}

div.--pd_item_img_a {
  background-image: url("../../images/reaalty/all types/invest.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 16rem;
}

div.--pd_item_img_b {
  background-image: url("../../images/reaalty/all types/architecture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 16rem;
}

div.--pd_item_img_g {
  background-image: url("../../images/reaalty/freshEgg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 16rem;
}

div.--pd_item_img_h {
  background-image: url("../../images/reaalty/liveStock.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 16rem;
}

div.farm_about {
  margin-top: 7rem;
  height: auto;
  width: 100%;
  background-color: #f7f7f7;
}
div.farm_about .splide__arrow {
  display: none;
}
div.farm_about li.splide__slide {
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
}
div.farm_about li.splide__slide:hover {
  cursor: pointer;
}
div.farm_about ul#splide02-list {
  padding: 1.5rem !important;
}
div.farm_about header.farm_header {
  height: 90vh;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
}
div.farm_about header.farm_header div.inner_Fheader {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
  height: 100%;
  align-content: center;
  width: 90%;
  margin: 0 auto;
}
div.farm_about header.farm_header div.inner_Fheader section.Fheader_content-container {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0rem 3rem 3rem 3rem;
}
div.farm_about header.farm_header div.inner_Fheader section.Fheader_content-container div.Fheader_content {
  padding-top: 5rem;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
div.farm_about header.farm_header div.inner_Fheader section.Fheader_content-container div.Fheader_content div.Fabout_subtitle {
  display: block;
}
div.farm_about header.farm_header div.inner_Fheader section.Fheader_content-container div.Fheader_content div.Fabout_subtitle:hover {
  cursor: pointer;
}
div.farm_about header.farm_header div.inner_Fheader section.Fheader_content-container div.Fheader_content div.Fabout_subtitle div #arrow_about-header {
  font-size: 3rem !important;
}
div.farm_about header.farm_header div.inner_Fheader section.Fheader_content-container div.Fheader_content div.Fabout_subtitle div#Fabout_subtitle-inner-wrap div#Fabout_subtitle-text {
  font-family: "Cairo";
  font-weight: 900;
  line-height: 2;
  font-size: 1.6rem;
  text-transform: uppercase;
  /* For Chrome and Safari */
  /* For old Fx (3.6 to 15) */
  /* For pre-releases of IE 10*/
  /* For old Opera (11.1 to 12.0) */
  background-image: linear-gradient(to right, #241f20, #ffc107, #02843d);
  /* Standard syntax; must be last */
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
div.farm_about header.farm_header div.inner_Fheader section.Fheader_content-container div.Fheader_content div.Fabout_title h1 {
  color: #241f20;
  font-family: "GT Super Ds Trial Bd";
  font-weight: 700;
  font-size: 5rem;
  word-wrap: break-word;
}
div.farm_about header.farm_header div.inner_Fheader section.Fheader_content-container div.Fheader_content div.Fabout_title h1 span#Fabout_unc {
  color: #02843d;
  font-family: "GT Super Ds Trial Bd";
  font-weight: bold;
}
div.farm_about header.farm_header div.inner_Fheader section.Fheader_content-container div.Fheader_content div.Fabout_text {
  display: block;
  padding-top: 1.5rem;
}
div.farm_about header.farm_header div.inner_Fheader section.Fheader_content-container div.Fheader_content div.Fabout_text p {
  font-family: "Ginto regular";
  font-size: 1.8rem;
  font-weight: 500;
  color: #231f20;
}
div.farm_about header.farm_header div.inner_Fheader section.Fheader_content-container div.Fheader_content div.Fabout_btn button {
  margin-left: unset;
}
div.farm_about header.farm_header div.inner_Fheader section.Fheader_image {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
div.farm_about header.farm_header div.inner_Fheader section.Fheader_image .splide {
  padding: 0 !important;
}
div.farm_about header.farm_header div.inner_Fheader section.Fheader_image .splide__track {
  height: 60rem !important;
}
div.farm_about header.farm_header div.inner_Fheader section.Fheader_image .splide__list {
  transition: 1s all;
}
div.farm_about header.farm_header div.inner_Fheader section.Fheader_image .splide__list li.splide__slide:first-child img {
  transform: translateX(12rem);
}
div.farm_about header.farm_header div.inner_Fheader section.Fheader_image .splide__list li.splide__slide:not(.is-active) img {
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  filter: unset !important;
  filter: opacity(0.5);
  -webkit-backdrop-filter: unset !important;
          backdrop-filter: unset !important;
}
div.farm_about header.farm_header div.inner_Fheader section.Fheader_image div.Fheader_image-wrap {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 1;
}
div.farm_about header.farm_header div.inner_Fheader section.Fheader_image div.Fheader_image-wrap img {
  height: 47rem;
  z-index: 1;
  -o-object-fit: contain;
     object-fit: contain;
  filter: drop-shadow(2px 4px 6px black);
  -webkit-backdrop-filter: drop-shadow(2px 4px 6px black);
          backdrop-filter: drop-shadow(2px 4px 6px black);
}
div.farm_about h3#first_sec-title {
  color: #241f20;
  font-family: "GT Super Ds Trial Bd";
  font-weight: 700;
  font-size: 4rem;
  margin-left: 1.2em;
  word-wrap: break-word;
  margin-top: 3rem;
  padding: 3rem;
}
div.farm_about section.first_sec {
  padding: 3em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 1.6rem;
       column-gap: 1.6rem;
  margin-bottom: 3rem;
}
div.farm_about section.first_sec div.content_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
div.farm_about section.first_sec div.content_left div.content_top_wrapp {
  display: inline-block;
  height: auto;
  margin-bottom: 8.5rem;
}
div.farm_about section.first_sec div.content_left div.content_top_wrapp div#vcl_line {
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 0;
  float: left;
  border: 0.2rem solid;
}
div.farm_about section.first_sec div.content_left div.content_top_wrapp div.content_wrap {
  color: #241f20;
  font-family: "Ginto bold";
  font-weight: bold;
  font-size: 2.2rem;
  max-width: 89%;
  padding-left: 2rem;
}
div.farm_about section.first_sec div.content_left div.content_top_wrapp div.content_wrap span#content_span_color {
  color: #02843d;
  font-family: "Ginto bold";
  font-weight: bold;
  font-size: 1.7rem;
}
div.farm_about section.first_sec div.content_left div.content_text {
  display: block;
}
div.farm_about section.first_sec div.content_left div.content_text p {
  color: #231f20;
  font-family: "Ginto regular";
  font-weight: 400;
  font-size: 2rem;
}
div.farm_about section.first_sec div.content_right {
  display: block;
  max-width: 90%;
}
div.farm_about section.first_sec div.content_right div.content_image {
  display: grid;
  grid-template-columns: 20rem 20rem auto;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
div.farm_about section.first_sec div.content_right div.content_image div.content_image_big {
  background-image: url("../../images/chicks.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 30rem;
  border-radius: 4px;
}
div.farm_about section.first_sec div.content_right div.content_image div.content_image_smll {
  background-image: url("../../images/delivery.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  transform: scale(0.9);
  height: 30rem;
  border-radius: 4px;
}
div.farm_about section.first_sec div.content_right div.content_image div.content_image_med {
  background-image: url("../../images/reaalty/header1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  transform: scale(0.9);
  height: 30rem;
  border-radius: 4px;
}
div.farm_about div.main_banner {
  background: radial-gradient(circle, #00833c 15%, #313962 61%);
  padding: 5rem 0;
  -webkit-clip-path: polygon(0 0, 100% 4%, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 4%, 100% 100%, 0% 100%);
}
div.farm_about div.main_banner .splide {
  max-width: 100% !important;
  margin-right: unset !important;
  margin-left: unset !important;
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}
div.farm_about div.main_banner .splide__pagination {
  display: none;
}
div.farm_about div.main_banner .splide.is-active .splide__list {
  max-height: 10rem;
}
div.farm_about div.main_banner div.main_banner_partern {
  display: block;
}
div.farm_about div.main_banner div.main_banner_partern h4 {
  margin-left: 1.5em;
  color: #fff;
  font-family: "GT Super Ds Trial Bd";
  font-weight: bold;
  font-size: 4rem;
  position: relative;
}
div.farm_about div.main_banner div.main_banner_partern h4:after {
  content: "";
  position: absolute;
  width: 6rem;
  height: 5px;
  left: 2rem;
  bottom: -1rem;
  background-color: #02843d;
}
div.farm_about div.main_banner div.main_banner_partern div.main_banner_wrap {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 3rem;
}
div.farm_about div.main_banner div.main_banner_partern div.main_banner_wrap .splide {
  padding: 0 !important;
}
div.farm_about div.main_banner div.main_banner_partern div.main_banner_wrap div.main_banner__item:hover {
  cursor: pointer;
  opacity: 1;
  transform: scale(1.01);
  z-index: 999;
  transition: 0.5s ease;
  box-shadow: 0 0 12px 0 #00000033;
}
div.farm_about div.main_banner div.main_banner_partern div.main_banner_wrap div.main_banner__item {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 4px;
  opacity: 0.9;
  z-index: 1;
}
div.farm_about div.product_listing {
  height: 100%;
  padding: 8rem 3em 0em;
}
div.farm_about div.product_listing section.listing_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.farm_about div.product_listing div.product_listing__list-wrapper {
  display: grid;
  grid-template-columns: 25rem 25rem 25rem;
  -moz-column-gap: 1.6rem;
       column-gap: 1.6rem;
  margin-top: 2em;
}
div.farm_about div.product_listing div.product_listing__list-wrapper div.product_listing--item {
  box-shadow: 0 0 12px 0 #0000001f !important;
  padding: 0.5em;
  background-color: #fff;
  border-radius: 4px;
}
div.farm_about div.product_listing div.product_listing__list-wrapper div.product_listing--item:hover {
  transform: scale(1.01) !important;
}
div.farm_about div.product_listing div.product_listing__list-wrapper div.product_listing--item div.product_listing--image {
  background-repeat: no-repeat;
  background-size: cover;
  height: 15rem;
  border-radius: 4px;
}
div.farm_about div.product_listing div.product_listing__list-wrapper div.product_listing--item div.product_listing--image.--image_1 {
  background-image: url("../../images/reaalty/vendor.jpg");
}
div.farm_about div.product_listing div.product_listing__list-wrapper div.product_listing--item div.product_listing--image.--image_3 {
  background-image: url("../../images/clientlist.jpg");
}
div.farm_about div.product_listing div.product_listing__list-wrapper div.product_listing--item div.product_listing--image.--image_4 {
  background-image: url("../../images/team.jpg");
}
div.farm_about div.product_listing div.product_listing__list-wrapper div.product_listing--item div.product_listing--content {
  padding-top: 1em;
}
div.farm_about div.product_listing div.product_listing__list-wrapper div.product_listing--item div.product_listing--content h4 {
  font-family: "Ginto bold";
  font-size: 1.7rem;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}
div.farm_about div.product_listing div.product_listing__list-wrapper div.product_listing--item div.product_listing--content p {
  font-family: "Ginto regular";
  font-size: 1.6rem;
}
div.farm_about div.product_listing section.product_listing--deepS {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6em;
}
div.farm_about div.product_listing section.product_listing--deepS div.color_highlight {
  color: #241f20;
  font-family: "Cairo";
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 3.5rem;
}
div.farm_about div.product_listing section.product_listing--deepS div.product_listing--bg {
  background-image: url("../../images/dotted.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2em;
}
div.farm_about div.product_listing section.product_listing--deepS div.product_listing--bg p {
  font-family: "Cairo";
  font-weight: 700;
  font-size: 1.8rem;
  max-width: 66%;
}
div.farm_about div.product_listing section.product_listing--deepS div.product_listing--bg div.product_listing--quote span#product_listing__q {
  color: #ffc107;
  font-family: "Cairo";
  font-weight: 700;
  font-size: 1.8rem;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
div.farm_about div.product_listing section.product_listing--deepS div.product_listing--bg button {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin-top: 2em;
}
div.farm_about div.product_listing section.product_listing--deepS div.product_listing--pd {
  display: grid;
  grid-template-columns: 20rem auto 20rem;
  -moz-column-gap: 1em;
       column-gap: 1em;
  margin-top: -18rem;
  z-index: 9;
}
div.farm_about div.product_listing section.product_listing--deepS div.product_listing--pd div.product_listing--pd_item.--pd_item_1 {
  display: flex;
  flex-direction: column;
}
div.farm_about div.product_listing section.product_listing--deepS div.product_listing--pd div.product_listing--pd_item.--pd_item_1 div.--pd_item-wrap {
  padding: 0.5em;
  background-color: #ffffff;
  box-shadow: 0 0 12px 0 #0000001f !important;
}
div.farm_about div.product_listing section.product_listing--deepS div.product_listing--pd div.product_listing--pd_item.--pd_item_1 div.--pd_item-wrap p {
  padding: 1rem;
  font-family: "Ginto regular";
  text-align: left;
  text-transform: capitalize;
  word-break: break-word;
  font-size: 1.6rem;
  font-weight: 500;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
div.farm_about div.product_listing section.product_listing--deepS div.product_listing--pd div.product_listing--pd_item.--pd_item_1 div.--pd_item-wrap div.--pd_item_img_a {
  background-image: url("../../images/reaalty/all types/invest.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 16rem;
}
div.farm_about div.product_listing section.product_listing--deepS div.product_listing--pd div.product_listing--pd_item.--pd_item_1 div.--pd_item-wrap div.--pd_item_img_b {
  background-image: url("../../images/reaalty/all types/architecture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 16rem;
}
div.farm_about div.product_listing section.product_listing--deepS div.product_listing--pd div.product_listing--pd_item.--pd_item_2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
div.farm_about div.product_listing section.product_listing--deepS div.product_listing--pd div.product_listing--pd_item.--pd_item_2 div.--pd_item-wrap {
  padding: 0.5em;
  width: 20rem;
  background-color: #ffffff;
  box-shadow: 0 0 12px 0 #0000001f !important;
}
div.farm_about div.product_listing section.product_listing--deepS div.product_listing--pd div.product_listing--pd_item.--pd_item_2 div.--pd_item-wrap p {
  padding: 1rem;
  font-family: "Ginto regular";
  text-align: left;
  text-transform: capitalize;
  word-break: break-word;
  font-size: 1.6rem;
  font-weight: 500;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
div.farm_about div.product_listing section.product_listing--deepS div.product_listing--pd div.product_listing--pd_item.--pd_item_2 div.--pd_item-wrap div.--pd_item_img_c {
  background-image: url("../../images/reaalty/pexels-expect-best-323780.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 16rem;
}
div.farm_about div.product_listing section.product_listing--deepS div.product_listing--pd div.product_listing--pd_item.--pd_item_2 div.--pd_item-wrap div.--pd_item_img_d {
  background-image: url("../../images/agriLife.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 16rem;
}
div.farm_about div.product_listing section.product_listing--deepS div.product_listing--pd div.product_listing--pd_item.--pd_item_2 div.--pd_item-wrap div.--pd_item_img_e {
  background-image: url("../../images/reaalty/poultryEgg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 16rem;
  background-position: center;
}
div.farm_about div.product_listing section.product_listing--deepS div.product_listing--pd div.product_listing--pd_item.--pd_item_2 div.--pd_item-wrap div.--pd_item_img_f {
  background-image: url("../../images/reaalty/auditRisk.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 16rem;
}
div.farm_about div.product_listing section.product_listing--deepS div.product_listing--pd div.product_listing--pd_item.--pd_item_3 {
  display: block;
}
div.farm_about div.product_listing section.product_listing--deepS div.product_listing--pd div.product_listing--pd_item.--pd_item_3 div.--pd_item-wrap {
  padding: 0.5em;
  background-color: #ffffff;
  box-shadow: 0 0 12px 0 #0000001f !important;
}
div.farm_about div.product_listing section.product_listing--deepS div.product_listing--pd div.product_listing--pd_item.--pd_item_3 div.--pd_item-wrap p {
  padding: 1rem;
  font-family: "Ginto regular";
  text-align: left;
  text-transform: capitalize;
  word-break: break-word;
  font-size: 1.6rem;
  font-weight: 500;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
div.farm_about div.product_listing section.product_listing--deepS div.product_listing--pd div.product_listing--pd_item.--pd_item_3 div.--pd_item-wrap div.--pd_item_img_g {
  background-image: url("../../images/reaalty/freshEgg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 16rem;
}
div.farm_about div.product_listing section.product_listing--deepS div.product_listing--pd div.product_listing--pd_item.--pd_item_3 div.--pd_item-wrap div.--pd_item_img_h {
  background-image: url("../../images/reaalty/liveStock.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 16rem;
}
div.farm_about section.product_listing--bnt {
  display: block;
  margin-top: 6em;
  padding: 8rem 3em 3em;
}
div.farm_about section.product_listing--bnt div.color_highlight {
  max-width: 45%;
}
div.farm_about section.product_listing--bnt div.numGrid {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3em;
}
div.farm_about section.product_listing--bnt div.numGrid div.grid_num-wrap {
  display: grid;
  grid-template-columns: 30rem 30rem 30rem;
  -moz-column-gap: 10rem;
       column-gap: 10rem;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
div.farm_about section.product_listing--bnt div.numGrid div.grid_num-wrap:first-child {
  margin-bottom: 5em;
}
div.farm_about section.product_listing--bnt div.numGrid div.grid_num-wrap div.grid_num-item {
  display: flex;
}
div.farm_about section.product_listing--bnt div.numGrid div.grid_num-wrap div.grid_num-item div.grid_num-item--left {
  display: block;
  position: relative;
}
div.farm_about section.product_listing--bnt div.numGrid div.grid_num-wrap div.grid_num-item div.grid_num-item--left span {
  float: right;
  position: absolute;
  right: 1em;
  top: 0;
  color: #02843d;
  font-family: "Cairo";
  text-rendering: optimizeLegibility;
  font-size: 2.4rem;
  font-weight: bolder;
}
div.farm_about section.product_listing--bnt div.numGrid div.grid_num-wrap div.grid_num-item div.grid_num-item--right {
  display: block;
}
div.farm_about section.product_listing--bnt div.numGrid div.grid_num-wrap div.grid_num-item div.grid_num-item--right h4 {
  color: #241f20;
  font-family: "Ginto bold";
  font-weight: bold;
  font-size: 2.2rem;
}
div.farm_about section.product_listing--bnt div.numGrid div.grid_num-wrap div.grid_num-item div.grid_num-item--right p {
  color: #231f20;
  font-family: "Ginto regular";
  font-weight: 400;
  font-size: 2rem;
}

div.intro_text {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-left: unset !important;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: inline-flex;
  align-items: center;
  padding-left: unset !important;
}
div.intro_text #intro_text--title {
  color: #02843d;
  font-family: "Ginto bold";
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.8rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
div.intro_text #intro_text--line {
  width: 6rem !important;
  height: 0.2rem;
  background-color: #02843d;
}

.wK {
  display: none;
}

h1.headline {
  color: #241f20;
  font-family: "GT Super Ds Trial Bd";
  font-weight: 700;
  text-rendering: optimizeLegibility;
  font-size: 3.5rem;
  line-height: 2;
  text-transform: capitalize;
}

div.product_listing__text {
  max-width: 55%;
}
div.product_listing__text p.about_product_text {
  font-weight: 500;
  font-family: "Ginto regular";
  font-size: 2rem;
}
div.product_listing__text #color_highlight {
  color: #02843d;
}

div.color_highlight {
  color: #241f20;
  font-family: "GT Super Ds Trial Bd";
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 3.5rem;
}

.headline_about {
  text-align: center;
  max-width: 70%;
  -webkit-margin-before: 0;
          margin-block-start: 0;
}/*# sourceMappingURL=about.css.map */