.listorder table thead{
    color: #ffffff;
}
@media (max-width: 690px) {
    .listorder div[data-test="datatable-table"] {
        overflow-x: scroll;
    max-width: calc(320px + (600 - 320) * (100vw - 375px) / (690 - 375));
    max-width: calc(205px + (320 - 205) * (100vw - 250px) / (374 - 250));
    }
    .listorder div[data-test="table"] {
        width: 75rem;
    }
}
@media (max-width: 350px) {
    .list_wrappe {
        padding: 0 2rem!important;
    }
    .listorder div[data-test="datatable"] .row:last-child div[data-test="datatable-pagination"] .dataTables_paginate .pagination {
        flex-direction: column;
        justify-content: center;
    align-items: center;
    }
    .listorder div[data-test="datatable"] .row:last-child div[data-test="datatable-pagination"] .dataTables_paginate .pagination .page-item {
        width: fit-content;
    }
    .listorder div[data-test="datatable"] .row:last-child div[data-test="datatable-pagination"] .dataTables_paginate .pagination .page-item:nth-child(2) {
        margin: 2rem;
        border: 1px solid #fff;
        padding-top: 0.5rem;
    }
}

@media (max-width: 300px) {
    .listorder .bg_lis {
        margin-top: 3rem;
    }
}