@font-face {
    font-family: 'GT Super Ds Trial Bd';
    src: url('GTSuperDsTrial-Bd.woff2') format('woff2'),
        url('GTSuperDsTrial-Bd.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

