// VARIABLES // ============================== //
$bg-color: #424242;
$hl-color: #2196f3;
$muted-color: mix(white, $bg-color, 70%);
$trans-time: 300ms;
$width: 320px;

// INPUTS // ============================== //

.react-swipeable-view-container {

    & div[aria-hidden="false"] {
        height: fit-content;
    }

    & div[aria-hidden="true"] {
        height: fit-content;
        display: none;
    }
}

.width-50 {
    width: 50%;
  }
  
  .ml-auto {
    margin-left: auto;
  }

  /* Progressbar */
.progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 2rem auto 4rem;
    max-width: 80%;
    z-index: 9;
  }
  
  .progressbar::before,
  .progress {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
    z-index: -1;
  }
  
  .progress {
    background-color: #0b4eb3;
    width: 0%;
    transition: 0.3s;
  }
  
  .progress-step {
    width: 3rem;
    height: 3rem;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .progress-step::before {
    counter-increment: step;
    content: counter(step);
  }
  
  .progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 1.6rem;
    color: #666;
  }
  
  .progress-step-active {
    background-color: #0b4eb3;
    color: #f3f3f3;
  }

  /* Form */
.form {
    background: #ffffff;
    border-radius: 2.3500000000000014rem;
    padding: 1.5rem;
  }
  
  .form-step {
    display: none;
    transform-origin: top;
    animation: animate 0.5s;
  }
  
  .form-step-active {
    display: block;
  }
  
  .input-group {
    margin: 2rem 0;
  }
  
  @keyframes animate {
    from {
      transform: scale(1, 0);
      opacity: 0;
    }
    to {
      transform: scale(1, 1);
      opacity: 1;
    }
  }
  
  /* Button */
  .btns-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
  
  .btn_f {
    padding: 0.75rem;
    display: block;
    text-decoration: none;
    background-color: #0b4eb3;
    color: #f3f3f3;
    text-align: center;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 3s all;
  }
  .btn_f:hover {
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px #0b4eb3;
  }

input,
textarea {
    &:focus {
        outline: none;
    }
    &:focus ~ label,
    &:valid ~ label {
        top: -14px;
        font-size: 1.6rem;
        color: #9C9C9C;
    }
    &:focus ~ .bar:before {
        width: $width;
    }
}

input[type="password"] {
    letter-spacing: 0.3em;
}

// FORM MATERIAL UI 
.input__label {
    font-size: 1.6rem!important;
}
.input__field {
    width: 80%!important;
}
.bg-check {
    background-color: #dc3545;
    transition: 3s all;
}
.off-field {
    display: none;
}
