// sidebar
#col-md-2 {
    margin-right: 0;
    padding-right: 0;
    z-index: 1;
}
#dashboard_header-title {
    font-size: 4rem !important;
}
.dashboard-title {
    font-size: 2.4rem !important;
}
.sidebar-wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    min-height: 100vh;
    font-weight: 400;
    margin-top: 0;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;

    & nav#sidebar {
        min-width: 100%;
        max-width: 100%;
        background: #232f3e;
        color: #fff;
        transition: all 0.3s;
        padding: 1rem;
        display: block;
        position: relative !important;

        & ul.components {
            padding: 5px 0;
            border-bottom: 1px solid #232f3e;
            line-height: 2;

            &.list-unstyled {
                // padding-left: 0;
                list-style: none;
            }

            & li a {
                padding: 10px;
                font-size: 1.1em;
                display: block;
                color: #fff;
                text-decoration: none;

                & i {
                    margin-right: 0.3rem;
                }
            }

            & li a:hover {
                color: #232f3e;
                background: #fff;
            }
        }
    }
}
