$green: #4BB453;
$darkWhite: #F7F7F7;
$blue: #024EFF;
$greyTwo: #F2F6FF;
$greyOne: #E5E8E8;
$bluesolid: #314862;
$bluesolidTwo: #A3ADB9;
$bluesolidThree: #5E7084;
$dark: #484848;
$bluethick: #313962;
$decoration: #EFF3FF;

$white: #FFFFFF;
$greenLight: #209E2E;
$greenLightTwo: #EAFEF1;
$greenLightThree: #38A945;
$greenLightFour: #209E2E;
$line: #707070;
$bg-farm: #55c57a;

$durockBg: #BAC2CA;
$berkshirebg: #758596;
$rs-btn: #4D6DE6;
$rs-subtitle: #D1D2D5;
$rs-line: #686B71;


$break: 992px;
$smallBreak: 600px;
$midBreak:1300px;

$desktopBreakPoint: 1366px;
$tabletBreakPoint: 1080px;
$mobilePlusBreakPoint: 768px;
$mobileBreakPoint: 375px;

$colourChangeDuration: 1s;

// font sizes
$xxxsmall-body-copy: 12px;
$xxsmall-body-copy: 14px;
$xsmall-body-copy: 2rem;
$base-font-size: 2.25rem;
$body-copy: 20px;
$large-body-copy: 3rem;
$xlarge-body-copy: 35px;
$sub-heading-copy: 42px; 
$xsub-heading-copy: 46px;
$main-heading-copy: 54px;

//line height
$base-line-height: 1.2;