$green: #4bb453;

$black: #231f20;

$darkWhite: #f7f7f7;
$blue: #024eff;
$greyTwo: #f2f6ff;
$greyOne: #e5e8e8;
$bluesolid: #314862;
$bluesolidTwo: #a3adb9;
$bluesolidThree: #5e7084;
$dark: #484848;
$bluethick: #313962;
$decoration: #eff3ff;

$white: #ffffff;
$greenLight: #209e2e;
$greenLightTwo: #eafef1;
$greenLightThree: #38a945;
$greenLightFour: #209e2e;
$line: #707070;
$bg-farm: #55c57a;

$durockBg: #bac2ca;
$berkshirebg: #758596;
$rs-btn: #4d6de6;
$rs-subtitle: #d1d2d5;
$rs-line: #686b71;

$break: 992px;
$smallBreak: 600px;
$midBreak: 1300px;

$desktopBreakPoint: 1366px;
$tabletBreakPoint: 1080px;
$mobilePlusBreakPoint: 768px;
$mobileBreakPoint: 375px;

$colourChangeDuration: 1s;

// font sizes
$xxxsmall-body-copy: 12px;
$xxsmall-body-copy: 14px;
$xsmall-body-copy: 2rem;
$base-font-size: 2.25rem;
$body-copy: 20px;
$large-body-copy: 3rem;
$xlarge-body-copy: 35px;
$sub-heading-copy: 42px;
$xsub-heading-copy: 46px;
$main-heading-copy: 54px;

//line height
$base-line-height: 1.2;
