:root {
  --primary: #02843d;
  --secondary: #231f20;
  --white: #fff;
  --black: #222;
  --black_A: #241f20;
  --grey1: #3a3b3c;
  --grey2: #828282;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');
#login_btn,
#view_btn {
  background-color: var(--primary);
  padding: 0.4rem 1.8rem;
  font-family: 'Cairo', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: var(--black_A);
}

#cart {
  font-size: 1rem;
  color: white;
}

#cart_count {
  background-color: var(--primary);
  padding: 0.2rem 0.8rem;
  border-radius:50% 50%;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.3rem;
}
.avatar-wrap {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 5%;
}
.custom-file {
    width: 100%;
    height: auto;
}
label#firstName-label {
    font-size: 1.6rem!important;
}
label#lastName-label {
    font-size: 1.6rem!important;
}
.avatar_preview_content {
    max-width: 100%;
    width: 100%;
    font-size: 1.3rem!important;
        transform: translate(1.5rem, .5rem);

}
#outlined-basic,
.label#outlined-basic-label {
    transform: translate(1.5rem, .5rem);
    font-size: 1.3rem!important;
}
#outlined-basic-label {
    transform: translate(1.5rem, .5rem)!important;
    font-size: 1.3rem!important;
}
a.MuiTypography-root.MuiLink-root.MuiLink-underlineHover.MuiTypography-body2.MuiTypography-colorPrimary {
    font-size: 1.4rem!important;
}
footer.py-1 {
    display: none;
}
.link_login {
font-size: 1.5rem!important;
}
.MuiTypography-h5 {
font-size: 2.4rem!important;
}
label#email-label {
    font-size: 1.6rem!important;
    /* font-family: 'Cairo', sans-serif; */
}
.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-fullWidth.MuiInputBase-formControl {
    font-size: 1.6rem!important;
    /* font-family: 'Cairo', sans-serif; */
}
.MuiTypography-colorTextSecondary {
    font-size: 1.5rem!important;
}
label#password-label {
    font-size: 1.6rem!important;
    /* font-family: 'Cairo', sans-serif; */
}
.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-fullWidth.MuiInputBase-formControl {
    font-size: 1.6rem!important;
    /* font-family: 'Cairo', sans-serif; */
}
.MuiTypography-body1 {
    font-size: 1.6rem!important;
    /* font-family: 'Cairo', sans-serif; */
}
.MuiSvgIcon-root {
    font-size: 2.4rem!important;
}
.avatar-nav {
    margin-right: 0.6rem;
    height: 3.3rem!important;
    width: 3.3rem!important;
}
a#dropDownMenuButton span {
    font-family: "Cairo", sans-serif;
    font-size: 2rem;
    padding-right: 1.8rem;
    color: var(--black_A);
}
.dropdown-item {
    font-size: 1.6rem!important;
    font-family: 'Cairo', sans-serif!important;
}
#sidebar ul li.active > a, a[aria-expanded='true'] {
        background: #02843d73!important;
}
.dropdown-toggle::after {
    border-right: .3em solid #02843d;
    border-left: .3em solid #02843d;
}
.dropdown-toggle:focus {
    border-right: .3em solid transparent!important;
    border-left: .3em solid transparent!important;
}
a.dropdown-item.text-danger {
    color: red;
}
a.dropdown-item.text-danger:active {
    color: red;
}
.dropdown-item.active, .dropdown-item:active {
    background-color: unset!important;
    color: var(--black_A);
}
div#loginswitch {
    font-size: 1.5rem;
    font-family: 'Cairo', sans-serif;
}
p.farm_header_nav_item {
    font-size: 1.5rem;
    font-size: 'Cairo',sans-serif;
}
.user_cart-col {
    font-size: 1.6rem;
}
/* Login & Register */

/* .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;

  font-weight: 700;
} */

/* .wrapper form {
  padding: 2.5rem 3rem;
}

.wrapper form .btn {
  background-color: #fa9c23;
  border-color: #fa9c23;
  color: white;
  margin-top: 2.5rem;
}

.wrapper form a {
  font-size: 0.9rem;
  color: grey;
} */

/* Avatar */
.avatar {
  display: inline-block;
  margin-bottom: 0;
  height: 3rem;
  width: 3rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rounded-circle {
  border-radius: 50% !important;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

/* Header User Profile */

.avatar-nav {
  margin-right: 0.6rem;
  height: 2.2rem;
  width: 2.2rem;
}

/* Checkout Steps */

.checkout-progress div {
  box-sizing: border-box;
}

.checkout-progress {
  display: block;
  clear: both;
  margin: 20px auto;
  width: auto;
  font-family: sans-serif;
  overflow: auto;
}

.step {
  margin: 0;
  border: 0;
  letter-spacing: 1px;
  line-height: 30px;
  padding: 5px 10px 5px 15px;
  color: grey;
  text-decoration: none;
  cursor: default;
  font-weight: bold;
  float: left;
  height: auto;
}

.incomplete {
  background: #eeeeee;
}

.active-step {
  background: #fa9c23;
  color: #fff;
}

.triangle-active {
  float: left;
  width: 0;
  border-top: 20px solid transparent;
  border-left: 15px solid #fa9c23;
  border-bottom: 20px solid transparent;
  margin-left: -1px;
}

.triangle2-active {
  width: 0;
  float: left;
  border-top: 20px solid #fa9c23;
  border-left: 15px solid #fff;
  border-bottom: 20px solid #fa9c23;
  margin-right: -1px;
}

.triangle-incomplete {
  float: left;
  width: 0;
  border-top: 20px solid transparent;
  border-left: 15px solid #eeeeee;
  border-bottom: 20px solid transparent;
  margin-left: -1px;
}

.triangle2-incomplete {
  width: 0;
  float: left;
  border-top: 20px solid #eeeeee;
  border-left: 15px solid #fff;
  border-bottom: 20px solid #eeeeee;
  margin-right: -1px;
}
nav#sidebar {
    padding: 6rem 2rem 2rem 2rem  !important;
}
#dashboard_main-wrap {
    /* border: 1px solid red; */
    width: 100vw;
    padding-top: 5rem;
    height: 100vh;
}
#main_dashboard-info {
  padding-top: 6rem;
  padding-left: 5rem;
}

/* User Profile */

.avatar-profile {
  height: 16rem;
  width: 16rem;
}
ul.components {
  line-height: 2;
}
nav#sidebar {
  height: 100%
}
.user-info h4 {
  font-weight: 800;
  color: grey;
  margin-top: 2rem;
}

.user-info p {
  font-size: 1.1rem;
}

#edit_profile {
  background-color: #fa9c23;
  border-color: #fa9c23;
}

/* Confirm Order */

.order-confirm p,
.order-details p {
  margin-left: 1.5rem;
}

.update-btn {
  background-color: #fa9c23;
  border-color: #fa9c23;
  color: white;
}

.update-btn:hover {
  color: white;
}

/* Pagination */
/* .page-item.active .page-link {
  background-color: #fa9c23;
  border-color: #fa9c23;
}

.page-link {
  color: #fa9c23;
}

.page-link:hover {
  color: #fa9c23;
} */

/* Admin Sidebar */

.sidebar-wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  font-weight: normal;

  margin-top: 0;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}
#sidebar {
  min-width: 100%;
  max-width: 100%;
  background: #232f3e;
  color: #fff;
  transition: all 0.3s;
  padding-top: 5rem;
  padding-left: 1rem;
}
#sidebar.active {
  margin-left: -250px;
}
#dashboard_header-title {
    font-size: 4rem !important;
}
.dashboard-title {
    font-size: 2.4rem !important;
}
#col-md-2 {
    margin-right: 0;
    padding-right: 0;
    z-index: 1;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #232f3e;
      height: 100%;
}
div#col-md-2 {
  max-height: 94.5vh;
  overflow: hidden;
}
#sidebar ul.components {
  border-bottom: 1px solid #232f3e;
}


#sidebar ul li a {
font-size: 1.1em;
display: block;
color: white;
text-decoration: none;
line-height: unset !important;
}
.ul#productSubmenu li a {
  font-size: 1.4rem;
}



#sidebar ul li a:hover {
  color: #232f3e;
  background: #fff;
}

#sidebar ul li a i {
  margin-right: 0.3rem;
}

#sidebar ul li.active > a,
a[aria-expanded='true'] {
  color: #fff;
  background: #232f3e;
}
a[data-toggle='collapse'] {
  position: relative;
}
.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 1rem !important;
  padding-left: 30px !important;
  background: #232f3e;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

/* Products List Admin */
#products_table .btn {
  padding: 0.2rem 0.5rem;
  margin-left: 0.4rem;
}

/* Dashboard */

.card-font-size {
  font-size: 1.5rem;
}

/* Reviews */

.rating {
  margin-top: 10rem;
}

.stars {
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 0;
}

.star {
  display: inline;
  list-style: none;
  font-size: 3rem;
  padding-left: 0.9rem;
  color: #e3e3e3;
}

.star:first-child {
  padding-left: 0;
}

.orange {
  color: #fa9c23;
}

.yellow {
  color: #fdcc0d;
}

.review_user {
  font-size: 0.8rem;
  color: grey;
}

/* ORDER */
th.MuiTableCell-root.MuiTableCell-head.MuiTableCell-stickyHeader {
    font-size: 1.4rem!important;
}
td.MuiTableCell-root {
  font-size: 1.4rem!important;
}
#toppick_list {
  font-family: "Cairo", sans-serif;
    font-weight: 700;
    color: var(--white);
    font-size: 3.5rem;
    padding-left: 3%;
    text-align: center;
    position: relative;
    top: 4%;
    z-index: 999;

}
#toppick_list::after {
  content: '';
  position: absolute;
    background: #7fad39;
    margin: 0 auto;
    height: 4px;
    width: 80px;
    left: 0;
    bottom: -15px;
    right: 0;
}
.row.mb-4:hover.cart__product-rendered {
  position: relative;
}
.row.mb-4:hover.cart__product-rendered:after {
    content: '';
    position: absolute;
    background: #7fad39;
    margin: 0 auto;
    height: .30rem;
    width: 95%;
    left: 0;
    bottom: -1rem;
    right: 0;
}

.dataTables_wrapper  tbody {
    font-family: "Cairo", sans-serif;
    font-weight: 400;
    color: var(--black_A);
    background: #f8f9fad4;
}
#topsell__list {
  margin: 3rem 0;
}
input#search_field {
  padding-left: 5rem !important;
  border: unset !important;
}
/* .page-item.disabled .page-link {
    color: #fff!important;
    pointer-events: none;
    cursor: pointer;
    cursor: auto;
    background-color: #3f51b5!important;
    border-color: unset!important;
} */
.page-item.active .page-link {
  color: unset;
  background-color: unset!important;
  border-color: unset!important;


  padding: unset!important;
  border: unset!important;
  margin-left: unset!important;
}
.list_wrap h1 {
  position: relative;
    color: #ffffff;
    font-family: "Cairo", sans-serif;
    font-weight: 700;
    max-width: fit-content;
    filter: drop-shadow(2px 4px 6px black);
    font-size: 3.5rem;
}
.list_wrap h1::after {
  content: '';
  position: absolute;
    background: #7fad39;
    margin: 0 auto;
    height: 4px;
    width: 80px;
    left: 0;
    bottom: -15px;
    right: 0;
}
.bg_lis {
    background: rgb(0 0 0 / 36%) url('./images/myOrder.png');
    background-blend-mode: overlay;
background-repeat: no-repeat;
    background-size: cover;   
     height: 100vh;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    justify-content: center;
}
.listorder .li.splide__slide {
      height: auto!important;
}
.listorder .product .bottom {
      background: antiquewhite!important;
    padding: 2rem!important;
}
.listorder {
    /* border: 1px solid red; */
    height: auto;
    /* padding-top: 7%;
    padding-left: 3%;
    padding-right: 3%; */
    
    /* background-image: url('./images/man.jpg'); */
background-repeat: repeat;
    background-size: contain;
    background-position-x: -27rem;
}
.realEstate-midD.reset-this div#drawer__container-wrapper .MuiDrawer-paperAnchorLeft {
  justify-content: center!important;
  border-radius: 0 50% 50% 0;
  overflow: hidden;
  height: 50rem;
}
li#list_sidebar_realty_item a:hover {
  color: #ffffff!important;
}
li#list_sidebar_realty_item a {
  color: #ffffff!important;
}
div#list_item_text span {
  font-size: 2rem!important;
}
li#list_sidebar_realty_item {
  margin-bottom: 2rem;
}
.listOrder_bg {
background-color: #d2d2d2f9;
}
/* .listOrder_bg #contactFormWrapper {
  background-color: unset!important;
} */
.list_wrappe {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 5rem;
}
@media (min-width: 900px) {
  .list_wrappe {
      justify-items: center;
  }
  .list_wrappe .list_wrap:first-child {
    width: 90%;
  }
  /* thead tr th {
    font-size: 2rem;
    font-family: 'Ginto bold';
    font-weight: bold;
  } */
  tbody tr td {
    font-size: 1.8rem;
    /* font-family: 'Ginto regular'; */
  
  }
  th.sorting {
    font-size: 2rem;
    font-family: 'Ginto bold';
    font-weight: bold;
  }
  .list_wrappe {
    row-gap: 6rem;
  }
  tbody tr td a button span {
    margin-left: 0!important;
  }
  .listorder th {
    background-color: var(--black);
  }
  .page-link {
    padding: 0.5rem!important;
}
}
@media (min-width: 2000px) {
  .list_wrappe {
    border: 1px solid;
      max-width: 190rem;
      margin: 0 auto;
  }
}
.dataTables_info {
  font-size: 1.8rem;
}
[data-test="datatable"] .row:last-child {
  margin-top: 3rem;
}
.dataTables_paginate * span {
  margin-left: 0!important;
}
.dataTables_paginate .page-item.disabled .page-link {
  border-radius: 2.5rem;
}

.dataTables_paginate li.active.page-item {
  width: 5rem;
  text-align: center;
  place-self: center;
  font-size: 2rem;
  font-weight: bolder;
  color: white;
}
[data-test="table-body"] tr td:nth-child(2) {
  text-align: center;
}
@media (max-width: 450px) {
  [data-test="datatable-info"] {
    margin-bottom: 1.6rem;
  }
}
@media (max-width: 375px) {
  .page-link {
    padding: 0.5rem!important;
}
}
@media (max-width: 899px) {
  .list_wrappe {
    grid-template-columns: 1fr;
    row-gap: 5rem;
    padding: 0 5rem;
    margin-bottom: 5rem;
}
thead tr th {
  font-size: 2rem;
  font-family: 'Ginto bold';
  font-weight: bold;
}
tbody tr td a button span {
  margin-left: 0!important;
}
.listorder th {
  background-color: var(--black);
}
tbody tr td {
  font-size: 1.8rem;
  /* font-family: 'Ginto regular'; */

}
th.sorting {
  font-size: 2rem;
  font-family: 'Ginto bold';
  font-weight: bold;
}
  /* .list_wrappe .list_wrap:last-child {
    width: 90rem;
    margin: 0 auto;
} */
  [data-test="table"] {
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

  .list_wrappe .list_wrap:first-child {
   margin-bottom: 3rem;
}
}
.dataTables_wrapper .row:first-child {
  display: none;
}

/* product details */
main#productD_main {
  display: block;
}
div.productD__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5rem;
}

.productD_main .carousel {
            border: unset !important;
        }
    
/* ORDER DETAILS */
div#order_details_wrapper {
  padding: 12rem 8rem;
}
h1.my-5.order_id_nb {
  font-size: 3rem;
  margin: 0 0 2rem 0 !important;
  color: #ffffff;
}
h4.mb-4.order_title_info {
  font-size: 1.8rem;
  font-weight: bold;
  color: #ffffff;
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiTableContainer-root.css-11xur9t-MuiPaper-root-MuiTableContainer-root {
  margin-top: 2rem;
}
.order_details_bg {
  background: rgb(0 0 0 / 65%) url('./images/admin.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  background-blend-mode: overlay;
}
 .order_details_bg #contactFormWrapper {
  background-color: unset!important;
 }
 th.MuiTableCell-root.MuiTableCell-body.MuiTableCell-sizeMedium.css-ljka08-MuiTableCell-root {
   background: unset !important;
 }
 /* PROFILE */
 .user_profile_page {
    background: #000000a3 url('./images/profile.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-blend-mode: overlay;
 }
 .user_profile_page #contactFormWrapper {
   background-color: unset !important;
 }
 .user_update_profile {
   background: rgb(0 0 0 / 32%) url('./images/user_update.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  background-blend-mode: overlay;
 }
 .user_update_profile #contactFormWrapper {
   background-color: unset !important;
 }

 .updateprofile_title {
  font-size: 3rem;
 }
 .label_name {
font-size: 1.6rem;
font-weight: 600;
margin-bottom: 1rem;
 }
 .updateProfile_formGp {
   margin-bottom: 2rem;
 }
 .updateProfile_formGp input {
   font-size: 1.6rem!important;
 }
 .updateProfile_formGp .custom-file-label {
   height: unset !important;
 }
 .updateProfile_formGp .custom-file-label::after {
   height: unset !important;
 }
 button.btn.update-btn.btn-block.mt-4.mb-3 {
   background: #061311!important;
 }
 .set_pass {
    background: #061311 !important;
    margin-top: 2rem;
 }
 .new_password_reset {
   margin-bottom: 1rem;
   margin-top: 2rem;
 }
 .new_passUP {
       padding-top: 8rem;
       padding-bottom: 8%;
       margin-left: 8rem;
       margin-right: 8rem;
 }