@font-face {
    font-family: 'GT Super Ds Trial Su';
    src: url('GTSuperDsTrial-Su.woff2') format('woff2'),
        url('GTSuperDsTrial-Su.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

