@font-face {
    font-family: 'Ginto regular';
    src: url('879f04657938531c142652c85ad0b0e1.woff2') format('woff2'),
        url('879f04657938531c142652c85ad0b0e1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

